extends layout

block content
 .about-section
  h1 About Us
  p Now in its 10th generation, Honda's long-running compact car is available in a range of styles to suit the needs of a wide spectrum of car buyers.  Offered in coupe, sedan and four-door hatchback body styles, the Civic is also available in high-performance Si and Type R form..
  
 h2(style='text-align:center') Our Team
 .row
  .column
    .card
      img(src='../images/ahmad.jpeg' alt='Jane' style='width:100%')
      .container
        h2 Hafiz Ahmad Bilal
        p.title CEO &amp; Founder
        p I am CEO and Founder of Honda Company.
        p hafizahmad7383@gmail.com
        p
          button.button Contact
  .column
    .card
      img(src='../images/haziq.jpeg' alt='Mike' style='width:100%')
      .container
        h2 Haziq Hassan
        p.title Managing Director
        p I am Managing Director of Honda Company.
        p haziqhasaan@gmail.com
        p
          button.button Contact
  .column
    .card
      img(src='../images/ahmad.jpeg' alt='John' style='width:100%')
      .container
        h2 Hafiz Ahmad Bilal
        p.title Designer
        p I am Designer of Honda Company.
        p hafizahmad7383@gmail.com
        p
          button.button Contact
